.page
  .about
    Mobile currency converter.
  .about
    Currency rates are taken from The European Central Bank (http://www.ecb.europa.eu/).
  .about
    Created by Tomasz Bernaciak & Maciek Badura.
