.page
  .about
    Mobile currency converter.
  .about
    Currency rates are taken from The European Central Bank (http://www.ecb.europa.eu/).
  .about
    Created by Tomasz Bernaciak.
  .about
    email:
  .about.blue
    tommybernaciak@gmail.com
  .about.blue
    t.bernaciak@binarapps.com
  .about
    github:
  .about.blue
    https://github.com/tommy7xo
