.page
  %h3 Currency List
  .btn.btn-default{ng:{click: "refresh()"}} refresh
  .list-group-item.box-list{ng: {repeat: "c in currency | orderBy:'name'"}}
    .box {{c.name}} - {{ c.rate| number:4 }} - {{c.country}}
  .list-group-item.bottom-box