.page
  .list-group-item
    .btn.btn-default.width-max{ng: {click: "go('/list')"}}
      .glyphicon.glyphicon-list
      Currency list
  .list-group-item
    .btn.btn-default.width-max{ng: {click: "go('/calculator')"}}
      .glyphicon.glyphicon-euro
      Converter
  .list-group-item
    .btn.btn-default.width-max{ng: {click: "go('/about')"}}
      .glyphicon.glyphicon-info-sign
      About
