.scrollable
  %h1.scrollable-header
  .scrollable-content
    .list-group{"ui-turn-off" => "uiSidebarLeft"}
      %a.list-group-item{ng: {click: "go('/')"}}
        .glyphicon.glyphicon-menu-hamburger
        Main
      %a.list-group-item{ng: {click: "go('/list')"}}
        .glyphicon.glyphicon-list
        Currency List
      %a.list-group-item{ng: {click: "go('/calculator')"}}
        .glyphicon.glyphicon-euro
        Converter
      %a.list-group-item{ng: {click: "go('/about')"}}
        .glyphicon.glyphicon-info-sign
        About