!!!
%html.overthrow-enabled
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=Edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title Currency calculator
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body.ng-scope.has-navbar-top.has-sidebar-left{ "ng-app" => "currency-calculator", "ng-controller" => "AppController", "ui-prevent-touchmove-defaults" => ""}
    .sidebar.sidebar-left{"ng-include" => "'sidebar_menu.html'", "ui-track-as-search-param" => "true"}
    .app{"ng-swipe-left" => "Ui.turnOff('uiSidebarLeft')", "ng-swipe-right" => "Ui.turnOn('uiSidebarLeft')"}
      .navbar.navbar-app.navbar-absolute-top
        .navbar-brand.navbar-brand-center{"yield-to" => "title"}
          Currency Calculator
        .btn-group.pull-left
          .btn.sidebar-toggle{"ui-toggle" => "uiSidebarLeft"} menu
      .app-body
        .app-content
          .scrollable.scrollable-content.overthrow{"ng-view" => ""}
